In [1]:
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "1"

In [2]:
import sys
sys.path.append("/project/")

from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter, PercentFormatter
import seaborn as sns
import matplotlib.lines as mlines


from utils import get_df

# Efficiency plots

In [3]:
ALGO_LIST = [
    "mcpg_me",
    "dcg_me",
    "pga_me",
    "me",
    "memes",
    "ppga",
]

In [4]:
def filter(df_row):
    if df_row["algo"] == "pga_me":
        if df_row["batch_size"] != 1024:
            return 

    if df_row["algo"] == "me":
        if df_row["batch_size"] != 8192:
            return 
        
    if df_row["algo"] == "ppga":
        if df_row["batch_size"] != 6000:
            return 
        
    if df_row["algo"] == "memes":
        if df_row["batch_size"] != 8192:
            return 
        
    if df_row["algo"] == "dcg_me":
        if df_row["batch_size"] != 2048:
            return 
        
    if df_row["algo"] == "mcpg_me":
        if df_row["batch_size"] != 4096:
            return 
        

        
    if df_row["algo"] == "mcpg_me":
        if df_row["proportion_mutation_ga"] == 0 and df_row["greedy"] == 0:
            return "mcpg_only"
    if df_row["algo"] == "mcpg_me":
        if df_row["proportion_mutation_ga"] == 0 and df_row["greedy"] == 0.5:
            return "mcpg_only_05"
        
    if df_row["algo"] == "mcpg_me":
        if df_row["proportion_mutation_ga"] == 0 and df_row["greedy"] == 1:
            return "mcpg_only_1"
        

    if df_row["algo"] == "mcpg_me":
        if df_row["proportion_mutation_ga"] == 0.5 and df_row["greedy"] == 0.5:
            return "mcpg_me_05"
        
    if df_row["algo"] == "mcpg_me":
        if df_row["proportion_mutation_ga"] == 0.5 and df_row["greedy"] == 1:
            return "mcpg_me_1"
        

    return df_row["algo"]

In [5]:
results_dir = Path("fig1/output/")
EPISODE_LENGTH = 250
df = get_df(results_dir, EPISODE_LENGTH)
df['algo'] = df.apply(filter, axis=1)
df = df[df["algo"].isin(ALGO_LIST)]
# df = df[df["batch_size"].isin(BATCH_LIST)]
#df = df[df["num_evaluations"] <= 1_005_000]

ant_omni_250
ant_uni_250
anttrap_omni_250
hopper_uni_250
walker2d_uni_250

In [6]:
hop_walker_df = df[df['env'].isin(['hopper_uni_250', 'walker2d_uni_250'])]
ant_df = df[df['env'].isin(['ant_uni_250'])]
omni_df = df[df['env'].isin(['ant_omni_250', "anttrap_omni_250"])]

In [7]:
hop_walker_df_1M_ev = hop_walker_df[hop_walker_df['num_evaluations'] <= 1_008_000]
ant_df_1M_ev = ant_df[ant_df['num_evaluations'] <= 1_008_000]
omni_df_1M_ev = omni_df[omni_df['num_evaluations'] <= 1_001_024]

In [58]:
filtered_groups = omni_df_1M_ev.groupby('env')

# Step 2: Calculate maximum time for each environment
max_time_per_env = filtered_groups['time'].max()

# # Step 3: Filter the original DataFrame to keep rows with time <= max_time for their respective environment
# omni_final_df = omni_df_1M_ev[omni_df_1M_ev.apply(lambda row: row['time'] <= max_time_per_env[row['env']], axis=1)]

In [59]:
max_time_per_env

env
ant_omni_250        834.290894
anttrap_omni_250    943.068481
Name: time, dtype: float32

In [60]:
omni_final_df = omni_df[omni_df.apply(lambda row: row['time'] <= max_time_per_env[row['env']], axis=1)]

In [61]:
omni_final_df

,ai_offspring_added,coverage,ga_offspring_added,iteration,max_fitness,qd_score,qpg_offspring_added,time,env,algo,batch_size,num_critic_training_steps,num_pg_training_steps,training_batch_size,run,num_evaluations,proportion_mutation_ga,no_epochs,greedy,evaluation
18490,0.0,0.106445,84.0,1,999.856445,60655.046875,0.0,22.031485,ant_omni_250,dcg_me,2048,3000.0,150.0,100.0,2025-01-20_182537_017372,2048,NaN,NaN,NaN,NaN
18491,0.0,0.114258,67.0,2,1003.445557,66694.546875,0.0,22.031485,ant_omni_250,dcg_me,2048,3000.0,150.0,100.0,2025-01-20_182537_017372,4096,NaN,NaN,NaN,NaN
18492,1.0,0.119141,70.0,3,1004.912170,72608.242188,2.0,22.031485,ant_omni_250,dcg_me,2048,3000.0,150.0,100.0,2025-01-20_182537_017372,6144,NaN,NaN,NaN,NaN
18493,0.0,0.125000,59.0,4,1005.589233,77066.156250,5.0,22.031485,ant_omni_250,dcg_me,2048,3000.0,150.0,100.0,2025-01-20_182537_017372,8192,NaN,NaN,NaN,NaN
18494,2.0,0.129883,48.0,5,1005.959839,80102.007812,5.0,22.031485,ant_omni_250,dcg_me,2048,3000.0,150.0,100.0,2025-01-20_182537_017372,10240,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038008,NaN,0.097656,NaN,57,939.945801,78126.312500,NaN,873.540283,anttrap_omni_250,ppga,6000,NaN,NaN,NaN,2025-01-22_232018_407958,2264040,NaN,NaN,NaN,2264040.0
1038009,NaN,0.097656,NaN,58,939.945801,78126.312500,NaN,888.561279,anttrap_omni_250,ppga,6000,NaN,NaN,NaN,2025-01-22_232018_407958,2303760,NaN,NaN,NaN,2303760.0
1038010,NaN,0.097656,NaN,59,939.945801,78126.312500,NaN,903.836975,anttrap_omni_250,ppga,6000,NaN,NaN,NaN,2025-01-22_232018_407958,2343480,NaN,NaN,NaN,2343480.0
1038011,NaN,0.097656,NaN,60,939.945801,78126.312500,NaN,918.735596,anttrap_omni_250,ppga,6000,NaN,NaN,NaN,2025-01-22_232018_407958,2383200,NaN,NaN,NaN,2383200.0
1038012,NaN,0.097656,NaN,61,939.945801,78126.312500,NaN,933.640686,anttrap_omni_250,ppga,6000,NaN,NaN,NaN,2025-01-22_232018_407958,2422920,NaN,NaN,NaN,2422920.0

In [62]:
idx_3 = omni_final_df.groupby(["env", "algo", "run"])["time"].idxmax()
omni_final_df = omni_final_df.loc[idx_3]

In [69]:
omni_final_df = omni_final_df[omni_final_df['algo'].isin(["mcpg_me", "dcg_me"])]

In [74]:
omni_final_df = omni_final_df[['env', 'algo', 'qd_score', 'time']]
omni_final_df

                     env     algo     qd_score        time
19490       ant_omni_250   dcg_me  967720.5625  828.225037
20720       ant_omni_250   dcg_me  970777.8750  831.550049
21940       ant_omni_250   dcg_me  950646.3750  830.249146
23170       ant_omni_250   dcg_me  960608.6875  829.842712
24390       ant_omni_250   dcg_me  964432.6875  827.225403
25620       ant_omni_250   dcg_me  973838.0625  829.089783
26850       ant_omni_250   dcg_me  968813.5000  828.883362
28080       ant_omni_250   dcg_me  974149.6250  830.858643
29300       ant_omni_250   dcg_me  979187.7500  831.242737
30520       ant_omni_250   dcg_me  972171.9375  828.824829
32860       ant_omni_250  mcpg_me  947524.1250  832.473022
35410       ant_omni_250  mcpg_me  904060.5625  830.491516
37970       ant_omni_250  mcpg_me  904190.0000  833.407410
40520       ant_omni_250  mcpg_me  930730.1875  833.634827
43070       ant_omni_250  mcpg_me  939630.2500  831.308655
45630       ant_omni_250  mcpg_me  939765.7500  832.921143
48190       ant_omni_250  mcpg_me  926686.6250  832.097473
50750       ant_omni_250  mcpg_me  920431.9375  832.276672
53310       ant_omni_250  mcpg_me  952579.1250  832.850769
55870       ant_omni_250  mcpg_me  894070.2500  832.403625
58430       ant_omni_250  mcpg_me  911236.5000  833.179626
60990       ant_omni_250  mcpg_me  872303.4375  833.925293
63540       ant_omni_250  mcpg_me  863706.7500  832.237122
66100       ant_omni_250  mcpg_me  949698.9375  832.297607
68660       ant_omni_250  mcpg_me  948256.7500  832.330017
804852  anttrap_omni_250   dcg_me  966220.9375  937.813843
805912  anttrap_omni_250   dcg_me  961104.0000  937.204041
806972  anttrap_omni_250   dcg_me  969058.5000  939.135864
808032  anttrap_omni_250   dcg_me  897199.4375  939.629883
809092  anttrap_omni_250   dcg_me  963784.0625  940.825378
810152  anttrap_omni_250   dcg_me  964387.8750  936.493286
811212  anttrap_omni_250   dcg_me  896909.5625  938.236694
812272  anttrap_omni_250   dcg_me  934489.8750  939.018433
813332  anttrap_omni_250   dcg_me  939739.8750  938.312561
814382  anttrap_omni_250   dcg_me  938647.5000  940.256226
816242  anttrap_omni_250  mcpg_me  906256.2500  939.752014
818152  anttrap_omni_250  mcpg_me  885011.1250  942.414185
820052  anttrap_omni_250  mcpg_me  917465.6875  937.941345
821962  anttrap_omni_250  mcpg_me  907667.3125  940.562012
823872  anttrap_omni_250  mcpg_me  887943.7500  942.401733
825782  anttrap_omni_250  mcpg_me  888255.1875  940.386597
827692  anttrap_omni_250  mcpg_me  884124.6875  942.884460
829602  anttrap_omni_250  mcpg_me  868924.8750  939.734924
831512  anttrap_omni_250  mcpg_me  950294.2500  939.958618
833422  anttrap_omni_250  mcpg_me  843388.6250  939.168640
835332  anttrap_omni_250  mcpg_me  925682.0000  941.152710
837242  anttrap_omni_250  mcpg_me  933344.7500  941.148193
839152  anttrap_omni_250  mcpg_me  775915.5000  940.798035
841062  anttrap_omni_250  mcpg_me  851145.7500  939.006165

In [80]:
METRICS_LIST = ["qd_score", "time"]
ENV_LIST = ["ant_omni_250", "anttrap_omni_250"]
ALGO_LIST = ["mcpg_me", "dcg_me"]
P_VALUE_LIST = [
    ["qd_score", "ant_omni_250", "mcpg_me", "dcg_me"],
    ["qd_score", "anttrap_omni_250", "mcpg_me", "dcg_me"],
    ["time", "ant_omni_250", "mcpg_me", "dcg_me"],
    ["time", "anttrap_omni_250", "mcpg_me", "dcg_me"],
]

In [81]:
from scipy.stats import wilcoxon, ranksums, mannwhitneyu
from statsmodels.stats.multitest import multipletests

In [82]:
# Compute p-values
p_value_df = pd.DataFrame(columns=["metric", "env", "algo_1", "algo_2", "p_value"])
for metric in METRICS_LIST:
    for env in ENV_LIST:
        for algo_1 in ALGO_LIST:
            for algo_2 in ALGO_LIST:
                stat = mannwhitneyu(
                    omni_final_df[(omni_final_df["env"] == env) & (omni_final_df["algo"] == algo_1)][metric],
                    omni_final_df[(omni_final_df["env"] == env) & (omni_final_df["algo"] == algo_2)][metric],
                )
                p_value_df.loc[len(p_value_df)] = {"metric": metric, "env": env, "algo_1": algo_1, "algo_2": algo_2, "p_value": stat.pvalue}

# Filter p-values
p_value_df.set_index(["metric", "env", "algo_1", "algo_2"], inplace=True)
p_value_df = p_value_df.loc[P_VALUE_LIST]

# Correct p-values
p_value_df.reset_index(inplace=True)
p_value_df["p_value_corrected"] = multipletests(p_value_df["p_value"], method="holm")[1]
p_value_df = p_value_df.pivot(index=["env", "algo_1", "algo_2"], columns="metric", values="p_value_corrected")

In [83]:
p_value_df

metric                           qd_score      time
env              algo_1  algo_2
ant_omni_250     mcpg_me dcg_me  0.000182  0.000276
anttrap_omni_250 mcpg_me dcg_me  0.002834  0.007717

In [65]:
idx_1 = hop_walker_df_1M_ev.groupby(["env", "algo", "run"])["iteration"].idxmax()
hop_walker_df_1M_ev = hop_walker_df_1M_ev.loc[idx_1]
# idx_2 = ant_df_1M_ev.groupby(["env", "algo", "run"])["iteration"].idxmax()
# ant_df_1M_ev = ant_df_1M_ev.loc[idx_2]
# idx_3 = omni_df_1M_ev.groupby(["env", "algo", "run"])["iteration"].idxmax()
# omni_df_1M_ev = omni_df_1M_ev.loc[idx_3]

#### p-values for hopper and walker

In [10]:
METRICS_LIST = ["qd_score", "time"]
ENV_LIST = ["hopper_uni_250", "walker2d_uni_250"]
ALGO_LIST = ["mcpg_me", "dcg_me"]
P_VALUE_LIST = [
    ["qd_score", "hopper_uni_250", "mcpg_me", "dcg_me"],
    ["qd_score", "walker2d_uni_250", "mcpg_me", "dcg_me"],
    ["time", "hopper_uni_250", "mcpg_me", "dcg_me"],
    ["time", "walker2d_uni_250", "mcpg_me", "dcg_me"],
]

In [11]:
from scipy.stats import wilcoxon, ranksums, mannwhitneyu
from statsmodels.stats.multitest import multipletests

In [13]:
# Compute p-values
p_value_df = pd.DataFrame(columns=["metric", "env", "algo_1", "algo_2", "p_value"])
for metric in METRICS_LIST:
    for env in ENV_LIST:
        for algo_1 in ALGO_LIST:
            for algo_2 in ALGO_LIST:
                stat = mannwhitneyu(
                    hop_walker_df_1M_ev[(hop_walker_df_1M_ev["env"] == env) & (hop_walker_df_1M_ev["algo"] == algo_1)][metric],
                    hop_walker_df_1M_ev[(hop_walker_df_1M_ev["env"] == env) & (hop_walker_df_1M_ev["algo"] == algo_2)][metric],
                )
                p_value_df.loc[len(p_value_df)] = {"metric": metric, "env": env, "algo_1": algo_1, "algo_2": algo_2, "p_value": stat.pvalue}

# Filter p-values
p_value_df.set_index(["metric", "env", "algo_1", "algo_2"], inplace=True)
p_value_df = p_value_df.loc[P_VALUE_LIST]

# Correct p-values
p_value_df.reset_index(inplace=True)
p_value_df["p_value_corrected"] = multipletests(p_value_df["p_value"], method="holm")[1]
p_value_df = p_value_df.pivot(index=["env", "algo_1", "algo_2"], columns="metric", values="p_value_corrected")

In [14]:
p_value_df

metric                           qd_score      time
env              algo_1  algo_2
hopper_uni_250   mcpg_me dcg_me  0.000188  0.000188
walker2d_uni_250 mcpg_me dcg_me  0.000188  0.000188

In [9]:
hop_walker_df_1M_ev = hop_walker_df_1M_ev.groupby(['env', 'algo'])[['qd_score', 'time']].median().reset_index()
# ant_df_1M_ev = ant_df_1M_ev.groupby(['env', 'algo'])[['qd_score', 'time']].median().reset_index()
# omni_df_1M_ev = omni_df_1M_ev.groupby(['env', 'algo'])[['qd_score', 'time']].median().reset_index()

In [10]:
hop_walker_df_1M_ev = hop_walker_df_1M_ev[hop_walker_df_1M_ev['algo'].isin(["mcpg_me", "dcg_me"])]

In [11]:
hop_walker_df_1M_ev

                env     algo      qd_score        time
0    hopper_uni_250   dcg_me  526667.50000  331.851990
1    hopper_uni_250  mcpg_me  680349.53125   63.191025
6  walker2d_uni_250   dcg_me  644894.68750  376.143555
7  walker2d_uni_250  mcpg_me  767711.25000   77.591843

### Hopper and Walker

In [12]:
# Calculate mean QD score for each algorithm
mcpg_qd = hop_walker_df_1M_ev[hop_walker_df_1M_ev['algo'] == 'mcpg_me']['qd_score'].mean()
dcg_qd = hop_walker_df_1M_ev[hop_walker_df_1M_ev['algo'] == 'dcg_me']['qd_score'].mean()

# Calculate mean time for each algorithm
mcpg_time = hop_walker_df_1M_ev[hop_walker_df_1M_ev['algo'] == 'mcpg_me']['time'].mean()
dcg_time = hop_walker_df_1M_ev[hop_walker_df_1M_ev['algo'] == 'dcg_me']['time'].mean()

# Calculate differences and ratios
qd_diff = mcpg_qd - dcg_qd
qd_percent = (mcpg_qd / dcg_qd - 1) * 100
time_speedup = dcg_time / mcpg_time

print(f"MCPG-ME achieves {qd_diff:.2f} higher QD score on average ({qd_percent:.1f}% improvement)")
print(f"MCPG-ME is {time_speedup:.1f}x faster than DCG-ME")

MCPG-ME achieves 138249.30 higher QD score on average (23.6% improvement)
MCPG-ME is 5.0x faster than DCG-ME

### Omni tasks

In [8]:
omni_df_1M_ev = omni_df_1M_ev[omni_df_1M_ev['algo'].isin(["mcpg_me", "dcg_me"])]

In [9]:
idx_3 = omni_df_1M_ev.groupby(["env", "algo", "run"])["iteration"].idxmax()
omni_df_1M_ev = omni_df_1M_ev.loc[idx_3]

In [10]:
METRICS_LIST = ["qd_score", "time"]
ENV_LIST = ["ant_omni_250", "anttrap_omni_250"]
ALGO_LIST = ["mcpg_me", "dcg_me"]
P_VALUE_LIST = [
    ["qd_score", "ant_omni_250", "mcpg_me", "dcg_me"],
    ["qd_score", "anttrap_omni_250", "mcpg_me", "dcg_me"],
    ["time", "ant_omni_250", "mcpg_me", "dcg_me"],
    ["time", "anttrap_omni_250", "mcpg_me", "dcg_me"],
]

In [11]:
from scipy.stats import wilcoxon, ranksums, mannwhitneyu
from statsmodels.stats.multitest import multipletests

In [13]:
# Compute p-values
p_value_df = pd.DataFrame(columns=["metric", "env", "algo_1", "algo_2", "p_value"])
for metric in METRICS_LIST:
    for env in ENV_LIST:
        for algo_1 in ALGO_LIST:
            for algo_2 in ALGO_LIST:
                stat = mannwhitneyu(
                    omni_df_1M_ev[(omni_df_1M_ev["env"] == env) & (omni_df_1M_ev["algo"] == algo_1)][metric],
                    omni_df_1M_ev[(omni_df_1M_ev["env"] == env) & (omni_df_1M_ev["algo"] == algo_2)][metric],
                )
                p_value_df.loc[len(p_value_df)] = {"metric": metric, "env": env, "algo_1": algo_1, "algo_2": algo_2, "p_value": stat.pvalue}

# Filter p-values
p_value_df.set_index(["metric", "env", "algo_1", "algo_2"], inplace=True)
p_value_df = p_value_df.loc[P_VALUE_LIST]

# Correct p-values
p_value_df.reset_index(inplace=True)
p_value_df["p_value_corrected"] = multipletests(p_value_df["p_value"], method="holm")[1]
p_value_df = p_value_df.pivot(index=["env", "algo_1", "algo_2"], columns="metric", values="p_value_corrected")

In [14]:
p_value_df

metric                           qd_score      time
env              algo_1  algo_2
ant_omni_250     mcpg_me dcg_me  0.002349  0.000144
anttrap_omni_250 mcpg_me dcg_me  0.049814  0.000144

In [25]:
aggregated_df = omni_df_1M_ev.groupby(['env', 'algo', 'iteration', 'run'])[['time', 'qd_score']].mean().reset_index()

In [26]:
filtered_df = aggregated_df[aggregated_df['iteration'] % 10 == 0]
filtered_df

,env,algo,iteration,run,time,qd_score
90,ant_omni_250,dcg_me,10,2025-01-20_182537_017372,22.031485,91077.453125
91,ant_omni_250,dcg_me,10,2025-01-20_182539_621908,22.332994,94203.578125
92,ant_omni_250,dcg_me,10,2025-01-20_182717_481258,21.515856,93105.359375
93,ant_omni_250,dcg_me,10,2025-01-20_182745_627814,21.637390,87746.281250
94,ant_omni_250,dcg_me,10,2025-01-20_182751_572627,22.087322,96819.734375
...,...,...,...,...,...,...
16885,anttrap_omni_250,mcpg_me,240,2025-01-15_012414_159150,137.112198,619946.750000
16886,anttrap_omni_250,mcpg_me,240,2025-01-15_012625_788677,137.475006,786382.437500
16887,anttrap_omni_250,mcpg_me,240,2025-01-15_012701_705088,137.632797,814909.187500
16888,anttrap_omni_250,mcpg_me,240,2025-01-15_012739_124371,137.146118,657620.187500
16889,anttrap_omni_250,mcpg_me,240,2025-01-15_013056_350802,137.081558,644886.250000

In [27]:
# Create the conditions for each environment
ant_omni_condition = (filtered_df['env'] == 'ant_omni_250') & (filtered_df['time'].between(38, 40))
anttrap_condition = (filtered_df['env'] == 'anttrap_omni_250') & (filtered_df['time'].between(42.5, 44.5))

# Combine conditions and filter the DataFrame
filtered_p_value_df = filtered_df[ant_omni_condition | anttrap_condition]

In [28]:
filtered_p_value_df

,env,algo,iteration,run,time,qd_score
290,ant_omni_250,dcg_me,30,2025-01-20_182537_017372,38.182907,108915.781250
291,ant_omni_250,dcg_me,30,2025-01-20_182539_621908,38.540321,111496.328125
294,ant_omni_250,dcg_me,30,2025-01-20_182751_572627,38.429581,109650.437500
297,ant_omni_250,dcg_me,30,2025-01-20_183026_673550,38.458973,125383.375000
298,ant_omni_250,dcg_me,30,2025-01-20_183211_910637,38.486073,172442.500000
5955,ant_omni_250,mcpg_me,70,2024-12-22_000859_779662,39.625580,644330.500000
5956,ant_omni_250,mcpg_me,70,2024-12-22_001035_513224,39.380165,549209.687500
5957,ant_omni_250,mcpg_me,70,2024-12-22_001546_005396,39.414455,557921.125000
5958,ant_omni_250,mcpg_me,70,2024-12-22_001556_572460,39.494442,442527.812500
5959,ant_omni_250,mcpg_me,70,2024-12-22_001726_900852,39.052586,608810.250000
5960,ant_omni_250,mcpg_me,70,2024-12-27_142808_554587,39.642696,471092.500000
5961,ant_omni_250,mcpg_me,70,2024-12-27_143057_016579,39.688072,509186.000000
5962,ant_omni_250,mcpg_me,70,2024-12-27_143237_018831,39.296566,427643.000000
5963,ant_omni_250,mcpg_me,70,2024-12-27_143748_959274,39.254814,662062.250000
5965,ant_omni_250,mcpg_me,70,2025-01-15_012250_979469,39.104733,629409.000000
5966,ant_omni_250,mcpg_me,70,2025-01-15_012251_519711,39.570290,594902.250000
5967,ant_omni_250,mcpg_me,70,2025-01-15_012309_064031,39.758308,487444.312500
5968,ant_omni_250,mcpg_me,70,2025-01-15_012410_095948,39.076275,601180.937500
5969,ant_omni_250,mcpg_me,70,2025-01-15_012412_308038,39.178879,684396.250000
8900,anttrap_omni_250,dcg_me,30,2025-01-20_183304_128160,42.768250,119387.804688
8901,anttrap_omni_250,dcg_me,30,2025-01-20_183329_159994,42.562149,124266.703125
8903,anttrap_omni_250,dcg_me,30,2025-01-20_184234_134755,42.823883,112355.132812
8904,anttrap_omni_250,dcg_me,30,2025-01-20_184301_904999,43.231033,118304.203125
8905,anttrap_omni_250,dcg_me,30,2025-01-20_184312_031055,42.762280,125225.429688
8906,anttrap_omni_250,dcg_me,30,2025-01-20_184336_361753,42.841385,114933.031250
8907,anttrap_omni_250,dcg_me,30,2025-01-20_184445_015652,42.552872,103653.890625
8909,anttrap_omni_250,dcg_me,30,2025-01-20_184514_923668,43.045746,107693.000000
14356,anttrap_omni_250,mcpg_me,60,2024-12-22_002051_695370,44.379589,459437.468750
14359,anttrap_omni_250,mcpg_me,60,2024-12-22_002533_151873,44.291542,472005.562500
14360,anttrap_omni_250,mcpg_me,60,2024-12-22_002753_662163,44.059307,484509.406250
14363,anttrap_omni_250,mcpg_me,60,2024-12-27_145507_196168,44.137897,530735.250000
14365,anttrap_omni_250,mcpg_me,60,2025-01-15_012414_159150,43.970184,417558.750000
14366,anttrap_omni_250,mcpg_me,60,2025-01-15_012625_788677,44.050808,510427.218750
14367,anttrap_omni_250,mcpg_me,60,2025-01-15_012701_705088,44.335613,537060.875000
14368,anttrap_omni_250,mcpg_me,60,2025-01-15_012739_124371,43.967529,459454.750000
14369,anttrap_omni_250,mcpg_me,60,2025-01-15_013056_350802,43.955620,391505.031250

#### p-values for omni tasks

In [29]:
METRICS_LIST = ["qd_score", "time"]
ENV_LIST = ["ant_omni_250", "anttrap_omni_250"]
ALGO_LIST = ["mcpg_me", "dcg_me"]
P_VALUE_LIST = [
    ["qd_score", "ant_omni_250", "mcpg_me", "dcg_me"],
    ["qd_score", "anttrap_omni_250", "mcpg_me", "dcg_me"],
    ["time", "ant_omni_250", "mcpg_me", "dcg_me"],
    ["time", "anttrap_omni_250", "mcpg_me", "dcg_me"],
]

In [30]:
# Compute p-values
p_value_df = pd.DataFrame(columns=["metric", "env", "algo_1", "algo_2", "p_value"])
for metric in METRICS_LIST:
    for env in ENV_LIST:
        for algo_1 in ALGO_LIST:
            for algo_2 in ALGO_LIST:
                stat = mannwhitneyu(
                    filtered_p_value_df[(filtered_p_value_df["env"] == env) & (filtered_p_value_df["algo"] == algo_1)][metric],
                    filtered_p_value_df[(filtered_p_value_df["env"] == env) & (filtered_p_value_df["algo"] == algo_2)][metric],
                )
                p_value_df.loc[len(p_value_df)] = {"metric": metric, "env": env, "algo_1": algo_1, "algo_2": algo_2, "p_value": stat.pvalue}

# Filter p-values
p_value_df.set_index(["metric", "env", "algo_1", "algo_2"], inplace=True)
p_value_df = p_value_df.loc[P_VALUE_LIST]

# Correct p-values
p_value_df.reset_index(inplace=True)
p_value_df["p_value_corrected"] = multipletests(p_value_df["p_value"], method="holm")[1]
p_value_df = p_value_df.pivot(index=["env", "algo_1", "algo_2"], columns="metric", values="p_value_corrected")

In [31]:
p_value_df

metric                           qd_score      time
env              algo_1  algo_2
ant_omni_250     mcpg_me dcg_me  0.000344  0.000344
anttrap_omni_250 mcpg_me dcg_me  0.000329  0.000329

#### numbers for omni tasks

In [25]:
def find_similar_times(df, time_threshold=2.0):
    results = []
    
    # For each environment
    for env in df['env'].unique():
        env_df = df[df['env'] == env]
        
        # Get data for each algorithm
        dcg_data = env_df[env_df['algo'] == 'dcg_me'].sort_values('time')
        mcpg_data = env_df[env_df['algo'] == 'mcpg_me'].sort_values('time')
        
        # For each time point in dcg
        for _, dcg_row in dcg_data.iterrows():
            # Find closest time point in mcpg
            time_differences = abs(mcpg_data['time'] - dcg_row['time'])
            closest_idx = time_differences.idxmin()
            
            if time_differences[closest_idx] <= time_threshold:
                mcpg_row = mcpg_data.loc[closest_idx]
                results.append({
                    'env': env,
                    'time_dcg': dcg_row['time'],
                    'time_mcpg': mcpg_row['time'],
                    'qd_score_dcg': dcg_row['qd_score'],
                    'qd_score_mcpg': mcpg_row['qd_score'],
                    'qd_score_diff': mcpg_row['qd_score'] - dcg_row['qd_score'],
                    'qd_score_ratio': mcpg_row['qd_score'] / dcg_row['qd_score']
                })
    
    return pd.DataFrame(results)

# Apply the function
comparison_df = find_similar_times(filtered_df)

# Display results sorted by environment and time
print(comparison_df.sort_values(['env', 'time_dcg']))

                 env    time_dcg   time_mcpg   qd_score_dcg  qd_score_mcpg  \
0       ant_omni_250   21.906174   20.223881   99381.179688   299310.18750
1       ant_omni_250   30.004086   31.771091  111477.000000   496383.50000
2       ant_omni_250   38.109676   39.448059  123436.710938   561261.43750
3       ant_omni_250   46.221638   47.124722  138498.781250   614372.93750
4       ant_omni_250   54.310242   54.770580  154867.656250   656233.37500
5       ant_omni_250   62.406891   62.512638  169693.375000   689626.43750
6       ant_omni_250   70.498291   70.254341  186191.031250   714156.81250
7       ant_omni_250   78.600418   77.977043  206563.156250   733096.68750
8       ant_omni_250   86.686356   85.717979  228515.546875   748573.18750
9       ant_omni_250   94.782692   93.466095  252097.000000   760787.37500
10      ant_omni_250  102.879578  101.189873  278668.031250   773147.18750
11  anttrap_omni_250   24.015179   23.703598   95351.460938   271397.25000
12  anttrap_omni_250   33.377148   34.060093  106714.851562   391815.71875
13  anttrap_omni_250   42.746876   44.423241  116554.101562   484440.78125
14  anttrap_omni_250   61.473320   59.982853  153076.218750   572359.81250
15  anttrap_omni_250   70.831558   70.341553  169054.609375   610432.18750
16  anttrap_omni_250   80.187515   80.709709  191764.250000   639009.31250
17  anttrap_omni_250   89.545181   91.077370  210624.718750   661930.43750
18  anttrap_omni_250  108.271202  106.612869  249000.703125   690455.31250
19  anttrap_omni_250  117.638290  116.975548  268746.000000   705856.37500
20  anttrap_omni_250  126.997559  127.336159  290678.656250   717756.31250
21  anttrap_omni_250  136.357941  137.693924  313340.000000   730559.43750

    qd_score_diff  qd_score_ratio
0   199929.007812        3.011739
1   384906.500000        4.452788
2   437824.726562        4.546957
3   475874.156250        4.435945
4   501365.718750        4.237382
5   519933.062500        4.063956
6   527965.781250        3.835613
7   526533.531250        3.549020
8   520057.640625        3.275809
9   508690.375000        3.017836
10  494479.156250        2.774438
11  176045.789062        2.846283
12  285100.867188        3.671614
13  367886.679688        4.156360
14  419283.593750        3.739051
15  441377.578125        3.610858
16  447245.062500        3.332265
17  451305.718750        3.142701
18  441454.609375        2.772905
19  437110.375000        2.626481
20  427077.656250        2.469243
21  417219.437500        2.331523

# Scalability plots

In [3]:
ALGO_LIST = [
    "mcpg_me",
    "dcg_me",
    "pga_me",
    "me",
    "memes",
    #"ppga",
]

In [9]:
results_dir = Path("fig2/output/")
EPISODE_LENGTH = 250
df = get_df(results_dir, EPISODE_LENGTH)
#df['algo'] = df.apply(filter, axis=1)
df = df[df["algo"].isin(ALGO_LIST)]
# df = df[df["batch_size"].isin(BATCH_LIST)]
df = df[df["num_evaluations"] <= 1_005_000]

ant_uni_250
walker2d_uni_250
ant_omni_250
hopper_uni_250
anttrap_omni_250

In [10]:
idx = df.groupby(["env", "algo", "run"])["iteration"].idxmax()
df_last_iteration = df.loc[idx]
scal_df = df_last_iteration[['env', 'algo', 'time', 'qd_score', 'batch_size']]

In [11]:
scal_df = scal_df.groupby(['env', 'algo', 'batch_size'])[['qd_score', 'time']].median().reset_index()
scal_df

                  env    algo  batch_size      qd_score         time
0        ant_omni_250  dcg_me         256  966768.56250  2204.218018
1        ant_omni_250  dcg_me         512  967279.50000  1155.965088
2        ant_omni_250  dcg_me        1024  955885.93750   647.635864
3        ant_omni_250  dcg_me        2048  894473.15625   409.704010
4        ant_omni_250  dcg_me        4096  618278.06250   377.209717
..                ...     ...         ...           ...          ...
140  walker2d_uni_250  pga_me         512  545788.25000  1190.351074
141  walker2d_uni_250  pga_me        1024  543705.71875   722.626465
142  walker2d_uni_250  pga_me        2048  538140.68750   636.280884
143  walker2d_uni_250  pga_me        4096  521937.62500   558.823608
144  walker2d_uni_250  pga_me        8192  494952.53125   504.501770

[145 rows x 5 columns]

In [16]:
grouped = scal_df.groupby(['env', 'algo'])['qd_score']
mean_qd_score = grouped.mean()
std_qd_score = grouped.std()

cv = std_qd_score / mean_qd_score * 100

cv_df = cv.reset_index(name='cv')
cv_df

                 env     algo         cv
0       ant_omni_250   dcg_me  25.594073
1       ant_omni_250  mcpg_me   2.339835
2       ant_omni_250       me   4.829926
3       ant_omni_250    memes  67.027105
4       ant_omni_250   pga_me  10.871008
5        ant_uni_250   dcg_me   5.528535
6        ant_uni_250  mcpg_me   1.091570
7        ant_uni_250       me   1.035213
8        ant_uni_250    memes  32.503313
9        ant_uni_250   pga_me  10.582890
10  anttrap_omni_250   dcg_me  26.658719
11  anttrap_omni_250  mcpg_me   3.430184
12  anttrap_omni_250       me   5.172420
13  anttrap_omni_250    memes  70.719933
14  anttrap_omni_250   pga_me   7.018152
15    hopper_uni_250   dcg_me   5.329630
16    hopper_uni_250  mcpg_me   3.054567
17    hopper_uni_250       me   1.018239
18    hopper_uni_250    memes  20.313152
19    hopper_uni_250   pga_me   6.005915
20  walker2d_uni_250   dcg_me   4.071941
21  walker2d_uni_250  mcpg_me   2.286212
22  walker2d_uni_250       me   3.297675
23  walker2d_uni_250    memes  35.968015
24  walker2d_uni_250   pga_me   3.858793

In [17]:
mean_cv_per_algo = cv_df.groupby('algo')['cv'].mean()
mean_cv_df = mean_cv_per_algo.reset_index(name='Mean_CV')
mean_cv_df

      algo    Mean_CV
0   dcg_me  13.436580
1  mcpg_me   2.440474
2       me   3.070694
3    memes  45.306304
4   pga_me   7.667352

In [11]:
pivot_df = df.pivot(index=['env', 'batch_size'], columns='algo', values='time')

In [12]:
pivot_df

algo                              dcg_me     mcpg_me
env              batch_size
ant_omni_250     256         2204.509766  468.571869
                 512         1157.795410  258.787170
                 1024         653.302856  164.696091
                 2048         409.809204  121.885239
                 4096         377.349976  108.978432
                 8192         325.654877   90.670830
ant_uni_250      256         2202.210938  466.288818
                 512         1155.803711  257.228516
                 1024         649.739868  163.386642
                 2048         414.132935  120.459183
                 4096         371.565674  107.580521
                 8192         325.380432   91.267433
anttrap_omni_250 256         2489.820312  752.919556
                 512         1314.591187  417.013306
                 1024         763.370850  276.249268
                 2048         472.838654  184.019501
                 4096         411.208862  142.981903
                 8192         410.878937  124.826797
hopper_uni_250   256         1856.447266  135.408142
                 512          961.403320   80.231941
                 1024         530.744751   62.195858
                 2048         325.980713   58.886993
                 4096         309.468323   63.197014
                 8192         269.542572   62.061096
walker2d_uni_250 256         1964.236084  222.667160
                 512         1032.785889  128.482666
                 1024         572.505493   90.432526
                 2048         371.066406   78.342896
                 4096         337.282837   77.458626
                 8192         289.841614   73.349426

In [13]:
pivot_df['ratio_256_to_8192'] = pivot_df['dcg_me'] / pivot_df['mcpg_me']

In [14]:
pivot_df

algo                              dcg_me     mcpg_me  ratio_256_to_8192
env              batch_size
ant_omni_250     256         2204.509766  468.571869           4.704742
                 512         1157.795410  258.787170           4.473929
                 1024         653.302856  164.696091           3.966717
                 2048         409.809204  121.885239           3.362255
                 4096         377.349976  108.978432           3.462611
                 8192         325.654877   90.670830           3.591617
ant_uni_250      256         2202.210938  466.288818           4.722847
                 512         1155.803711  257.228516           4.493295
                 1024         649.739868  163.386642           3.976701
                 2048         414.132935  120.459183           3.437952
                 4096         371.565674  107.580521           3.453838
                 8192         325.380432   91.267433           3.565132
anttrap_omni_250 256         2489.820312  752.919556           3.306888
                 512         1314.591187  417.013306           3.152396
                 1024         763.370850  276.249268           2.763341
                 2048         472.838654  184.019501           2.569503
                 4096         411.208862  142.981903           2.875950
                 8192         410.878937  124.826797           3.291592
hopper_uni_250   256         1856.447266  135.408142          13.710012
                 512          961.403320   80.231941          11.982800
                 1024         530.744751   62.195858           8.533442
                 2048         325.980713   58.886993           5.535700
                 4096         309.468323   63.197014           4.896882
                 8192         269.542572   62.061096           4.343181
walker2d_uni_250 256         1964.236084  222.667160           8.821400
                 512         1032.785889  128.482666           8.038328
                 1024         572.505493   90.432526           6.330748
                 2048         371.066406   78.342896           4.736440
                 4096         337.282837   77.458626           4.354361
                 8192         289.841614   73.349426           3.951519

In [15]:
mean_ratio = pivot_df['ratio_256_to_8192'].mean()

In [16]:
mean_ratio

5.013537

In [9]:
BATCH_LIST = [
    256,
    8192,
]

In [10]:
df = df[df["batch_size"].isin(BATCH_LIST)]

In [11]:
df

                 env     algo  batch_size        time
0       ant_omni_250  mcpg_me         256  468.571869
5       ant_omni_250  mcpg_me        8192   90.670830
6        ant_uni_250  mcpg_me         256  466.288818
11       ant_uni_250  mcpg_me        8192   91.267433
12  anttrap_omni_250  mcpg_me         256  752.919556
17  anttrap_omni_250  mcpg_me        8192  124.826797
18    hopper_uni_250  mcpg_me         256  135.408142
23    hopper_uni_250  mcpg_me        8192   62.061096
24  walker2d_uni_250  mcpg_me         256  222.667160
29  walker2d_uni_250  mcpg_me        8192   73.349426

In [12]:
pivot_df = df.pivot(index='env', columns='batch_size', values='time')

In [14]:
pivot_df['ratio_256_to_8192'] = pivot_df[256] / pivot_df[8192]

In [15]:
pivot_df

batch_size               256        8192  ratio_256_to_8192
env
ant_omni_250      468.571869   90.670830           5.167835
ant_uni_250       466.288818   91.267433           5.109038
anttrap_omni_250  752.919556  124.826797           6.031714
hopper_uni_250    135.408142   62.061096           2.181852
walker2d_uni_250  222.667160   73.349426           3.035704

In [16]:
mean_ratio = pivot_df['ratio_256_to_8192'].mean()

In [17]:
mean_ratio

4.305228